@import "theme.less"

$colors={
    black : #000,
    gray : #999,
    gray-1: $gray-1,
    gray-2: $gray-2,
    gray-3: $gray-3,
    gray-4: $gray-4,
    gray-5: $gray-5,
    gray-6: $gray-6,
    gray-7: $gray-7,
    gray-8: $gray-8,
    white : #fff,
    red: $red,
    red-dark: $red-dark,
    red-light: $red-light,
    orange: $orange,
    orange-dark: $orange-dark,
    orange-light: $orange-light,
    yellow: $yellow,
    yellow-dark: $yellow-dark,
    yellow-light: $yellow-light,
    green: $green,
    green-dark: $green-dark,
    green-light: $green-light,
    cyan: $cyan,
    cyan-dark: $cyan-dark,
    cyan-light: $cyan-light,
    blue: $blue,
    blue-dark: $blue-dark,
    blue-light: $blue-light,
    purple: $purple,
    purple-dark: $purple-dark,
    purple-light: $purple-light,
}

for item,index in $colors
    .fg-{item}
        color index !important
    .bg-{item}
        background-color index !important
    .van-button--{item}
        unless match('white|gray',item)
            color: #fff;
        border: 1px solid index;
        background-color:index;

for item in 0 12 14 16 18 20 30 40 80 100
    .fs-{item}
        font-size 1px*item
.fs-inherit
    font-size: inherit
for item in bold normal
    .fw-{item}
        font-weight: item
for item in left right center
    .text-{item}
        text-align item
for item in top bottom middle baseline
    .valign-{item}
        vertical-align item
$sizes = {none:0px,xs:5px,sm:10px,md:15px,lg:20px}
for item,index in $sizes
    for sub in '' -top -left -right -bottom
        .pd-{item}{substr(sub,0,2)}
            padding{sub} index
        .mg-{item}{substr(sub,0,2)}
            margin{sub} index
    .pd-{item}-x
        padding-left index
        padding-right index
    .pd-{item}-y
        padding-top index
        padding-bottom index
    .mg-{item}-x
        margin-left index
        margin-right index
    .mg-{item}-y
        margin-bottom index
        margin-top index
    .radius-{item}
        border-radius: index
        overflow: hidden

for item in top left right bottom
    for sub in 0 50 100 -50 -100
        .{item}-{sub}
            {item}:sub * 1%


.fs-0
    font-size 0
.flex-none
    flex:none
.bg-none
    background none
.win-width
    width 100vw
.win-height
    height:100vh
.full-width
    width 100%
.full-height
    height:100%
.border-none
    border 0
.inline
    display inline-flex
.extra
    border-top-right-radius: 0px
img
    max-width: 100%
.disabled
    pointer-events: none

.dropdown-helper
    width: 0
    height auto !important
    overflow hidden
.van-button--mini
    padding: 0 10px
.van-button--normal
    padding: 0 13px
.login
    .van-tabs__line
        bottom:20px

.records .van-icon
    font-size 24px
    margin-right 0
    // @extends .bg-orange

.statistics
    .van-collapse-item__content
        background-color $colors.gray-2

.askForLeaveForm .van-radio--horizontal
    margin 4px

.calendar
    .van-calendar__month-title
        display none
    .van-calendar__weekdays
        background-color #77D3CE
        color:#fff
    .error3 .van-calendar__bottom-info
        color: $colors.red
    .error2 .van-calendar__bottom-info
        color: $colors.yellow

.late
    >.van-calendar__bottom-info
        color $colors.red
.warning
    >.van-calendar__bottom-info
        color $colors.orange
.van-uploader__mask
    pointer-events: none
.van-slide-right-enter-active,.van-slide-right-leave-active
    position fixed
    width 100%
    left 0
    top: 0
.van-tabbar-item:after
    content: ""
    display: block
    width 40px
    height 4px
    margin-top: 10px
.van-tabbar-item--active:after
    background-color currentColor
.button-group
    position: fixed
    bottom: 20px
    right: 10px
    z-index: 99
    touch-action: none

    &--value
        position: absolute
        left: 0
        width 100%

