html {
  background: #fff998 !important;
}
.van-button--cyan {
  color: #fff;
  border: 1px solid #548484;
  background-color: #548484;
}
.fg-black {
  color: #000;
}
.bg-black {
  background-color: #000;
}
.fg-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.fg-gray-1 {
  color: #f7f8fa;
}
.bg-gray-1 {
  background-color: #f7f8fa;
}
.fg-gray-2 {
  color: #f4f6f8;
}
.bg-gray-2 {
  background-color: #f4f6f8;
}
.fg-gray-3 {
  color: #ebedf0;
}
.bg-gray-3 {
  background-color: #ebedf0;
}
.fg-gray-4 {
  color: #dcdee0;
}
.bg-gray-4 {
  background-color: #dcdee0;
}
.fg-gray-5 {
  color: #c8c9cc;
}
.bg-gray-5 {
  background-color: #c8c9cc;
}
.fg-gray-6 {
  color: #969799;
}
.bg-gray-6 {
  background-color: #969799;
}
.fg-gray-7 {
  color: #646566;
}
.bg-gray-7 {
  background-color: #646566;
}
.fg-gray-8 {
  color: #323233;
}
.bg-gray-8 {
  background-color: #323233;
}
.fg-red {
  color: #ee0a24;
}
.bg-red {
  background-color: #ee0a24;
}
.fg-blue {
  color: #1989fa;
}
.bg-blue {
  background-color: #1989fa;
}
.fg-orange {
  color: #ff976a;
}
.bg-orange {
  background-color: #ff976a;
}
.fg-orange-dark {
  color: #ed6a0c;
}
.bg-orange-dark {
  background-color: #ed6a0c;
}
.fg-orange-light {
  color: #fffbe8;
}
.bg-orange-light {
  background-color: #fffbe8;
}
.fg-green {
  color: #07c160;
}
.bg-green {
  background-color: #07c160;
}
.fg-cyan {
  color: #548484;
}
.bg-cyan {
  background-color: #548484;
}
.fs-0 {
  font-size: 0px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fs-36 {
  font-size: 36px;
}
.fs-48 {
  font-size: 48px;
}
.fs-72 {
  font-size: 72px;
}
.fs-100 {
  font-size: 100px;
}
.fw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: normal;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.valign-top {
  vertical-align: top;
}
.valign-bottom {
  vertical-align: bottom;
}
.valign-middle {
  vertical-align: middle;
}
.valign-baseline {
  vertical-align: baseline;
}
.pd-none {
  padding: 0px;
}
.mg-none {
  margin: 0px;
}
.pd-none-t {
  padding-top: 0px;
}
.mg-none-t {
  margin-top: 0px;
}
.pd-none-l {
  padding-left: 0px;
}
.mg-none-l {
  margin-left: 0px;
}
.pd-none-r {
  padding-right: 0px;
}
.mg-none-r {
  margin-right: 0px;
}
.pd-none-b {
  padding-bottom: 0px;
}
.mg-none-b {
  margin-bottom: 0px;
}
.pd-none-x {
  padding-left: 0px;
  padding-right: 0px;
}
.pd-none-y {
  padding-top: 0px;
  padding-bottom: 0px;
}
.mg-none-x {
  margin-left: 0px;
  margin-right: 0px;
}
.mg-none-y {
  margin-bottom: 0px;
  margin-top: 0px;
}
.pd-xs {
  padding: 5px;
}
.mg-xs {
  margin: 5px;
}
.pd-xs-t {
  padding-top: 5px;
}
.mg-xs-t {
  margin-top: 5px;
}
.pd-xs-l {
  padding-left: 5px;
}
.mg-xs-l {
  margin-left: 5px;
}
.pd-xs-r {
  padding-right: 5px;
}
.mg-xs-r {
  margin-right: 5px;
}
.pd-xs-b {
  padding-bottom: 5px;
}
.mg-xs-b {
  margin-bottom: 5px;
}
.pd-xs-x {
  padding-left: 5px;
  padding-right: 5px;
}
.pd-xs-y {
  padding-top: 5px;
  padding-bottom: 5px;
}
.mg-xs-x {
  margin-left: 5px;
  margin-right: 5px;
}
.mg-xs-y {
  margin-bottom: 5px;
  margin-top: 5px;
}
.pd-sm {
  padding: 10px;
}
.mg-sm {
  margin: 10px;
}
.pd-sm-t {
  padding-top: 10px;
}
.mg-sm-t {
  margin-top: 10px;
}
.pd-sm-l {
  padding-left: 10px;
}
.mg-sm-l {
  margin-left: 10px;
}
.pd-sm-r {
  padding-right: 10px;
}
.mg-sm-r {
  margin-right: 10px;
}
.pd-sm-b {
  padding-bottom: 10px;
}
.mg-sm-b {
  margin-bottom: 10px;
}
.pd-sm-x {
  padding-left: 10px;
  padding-right: 10px;
}
.pd-sm-y {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mg-sm-x {
  margin-left: 10px;
  margin-right: 10px;
}
.mg-sm-y {
  margin-bottom: 10px;
  margin-top: 10px;
}
.pd-md {
  padding: 15px;
}
.mg-md {
  margin: 15px;
}
.pd-md-t {
  padding-top: 15px;
}
.mg-md-t {
  margin-top: 15px;
}
.pd-md-l {
  padding-left: 15px;
}
.mg-md-l {
  margin-left: 15px;
}
.pd-md-r {
  padding-right: 15px;
}
.mg-md-r {
  margin-right: 15px;
}
.pd-md-b {
  padding-bottom: 15px;
}
.mg-md-b {
  margin-bottom: 15px;
}
.pd-md-x {
  padding-left: 15px;
  padding-right: 15px;
}
.pd-md-y {
  padding-top: 15px;
  padding-bottom: 15px;
}
.mg-md-x {
  margin-left: 15px;
  margin-right: 15px;
}
.mg-md-y {
  margin-bottom: 15px;
  margin-top: 15px;
}
.pd-lg {
  padding: 20px;
}
.mg-lg {
  margin: 20px;
}
.pd-lg-t {
  padding-top: 20px;
}
.mg-lg-t {
  margin-top: 20px;
}
.pd-lg-l {
  padding-left: 20px;
}
.mg-lg-l {
  margin-left: 20px;
}
.pd-lg-r {
  padding-right: 20px;
}
.mg-lg-r {
  margin-right: 20px;
}
.pd-lg-b {
  padding-bottom: 20px;
}
.mg-lg-b {
  margin-bottom: 20px;
}
.pd-lg-x {
  padding-left: 20px;
  padding-right: 20px;
}
.pd-lg-y {
  padding-top: 20px;
  padding-bottom: 20px;
}
.mg-lg-x {
  margin-left: 20px;
  margin-right: 20px;
}
.mg-lg-y {
  margin-bottom: 20px;
  margin-top: 20px;
}
.fs-0 {
  font-size: 0;
}
.flex-none {
  flex: none;
}
.bg-gray {
  background-color: #f4f6f8;
}
.bg-none {
  background: none;
}
.win-width {
  width: 100vw;
}
.win-height {
  height: 100vh;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.border-none {
  border: 0;
}
.inline {
  display: inline-flex;
}
.extra {
  border-top-right-radius: 0px;
}
img {
  max-width: 100%;
}
.records .van-icon {
  font-size: 24px;
  margin-right: 0;
}
.statistics .van-collapse-item__content {
  background-color: #f4f6f8;
}
.askForLeaveForm .van-radio--horizontal {
  margin: 4px;
}
.dropdownMenu {
  height: 44px;
  background: none;
  width: 100%;
}
.dropdownMenu .van-dropdown-menu__item {
  justify-content: space-between;
}
.dropdownMenu .van-dropdown-menu__item:after {
  content: "\e642";
  color: #969799;
}
.van-dropdown-menu__title::after {
  content: none;
}
.calendar .van-calendar__month-title {
  display: none;
}
.calendar .van-calendar__weekdays {
  background-color: #77D3CE;
  color: #fff;
}
.late >.van-calendar__bottom-info {
  color: #ee0a24;
}
.warning >.van-calendar__bottom-info {
  color: #ff976a;
}
