@white: #fff;
@black: #000;
@gray-1: #f7f8fa;
@gray-2: #f2f3f5;
@gray-3: #ebedf0;
@gray-4: #dcdee0;
@gray-5: #c8c9cc;
@gray-6: #969799;
@gray-7: #646566;
@gray-8: #323233;
//7色盘，每色3种亮度
@red: #E53935;
@red-dark: #B71C1C   ;
@red-light: #E57373;

@orange: #FB8C00;
@orange-dark: #E65100;
@orange-light: #FFB74D;

@yellow: #FDD835;
@yellow-dark: #F57F17;
@yellow-light: #FFF176;

@green: #3FB77A;
@green-dark: #1B5E20;
@green-light: #81C784;

@cyan: #6A9B98;
@cyan-dark: #006064;
@cyan-light: #4DD0E1;

@blue: #1E88E5;
@blue-dark: #0D47A1;
@blue-light: #64B5F6;

@purple: #8E24AA;
@purple-dark: #4A148C;
@purple-light: #BA68C8;

@tabs-bottom-bar-color: #fff;
@grid-item-content-padding: 0;
@grid-item-content-background-color: inheirt;








