<!DOCTYPE html>
<html lang="en" class="bg-gray-2">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>智慧校园</title>
</head>

<body>
  <noscript>
    <strong>因您关闭了网页的JavaScript功能，“智慧校园”无法工作。请开启此功能再试.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>
</html>
