@font-face {font-family: "iconfont";
  src: url('~@/assets/fonts/iconfont.woff2?t=1586953793601') format('woff2')
}

.icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: initial;
}

.icon-yichexiao:before {
  content: "\e604";
}

.icon-weitongguo:before {
  content: "\e600";
}

.icon-yitongguo:before {
  content: "\e607";
}

.icon-shenhezhong:before {
  content: "\e608";
}

.icon-plus:before {
  content: "\e606";
}

.icon-jingbao:before {
  content: "\e67e";
}

.icon-jilu:before {
  content: "\e603";
}

.icon-emoji0:before {
  content: "\e65f";
}

.icon-emoji1:before {
  content: "\e601";
}

.icon-emoji2:before {
  content: "\e602";
}

.icon-emoji4:before {
  content: "\e9d9";
}

.icon-emoji3:before {
  content: "\e605";
}

.icon-xiasanjiao:before {
  content: "\e642";
}

