<template>
    <div class="pd-md">
        <van-empty :image="require('$images/empty-image-error.png')" description="您好像走错了地方"></van-empty>
        <br>
        <br>
        <br>
        <br>
        <br>
        <van-button block round type="danger" to="/">回 到 首 页</van-button>
    </div>
</template>
