<template>
    <div class="askForLeaveForm">
        <van-cell>
            <van-field class="bg-gray-2 van-button--round" readonly v-model="text" placeholder="请选择请假类型" right-icon="xiasanjiao" icon-prefix="icon" @click.stop="$refs.dropdown.toggle()"></van-field>
            <template #right-icon>
                <van-dropdown-menu class="dropdown-helper">
                    <van-dropdown-item title-class="mini-drop" v-model="type" ref="dropdown" :options="option" />
                </van-dropdown-menu>
            </template>
        </van-cell>
        <van-cell>
            <van-field class="bg-gray-2 van-button--round" readonly v-model="dateString1" placeholder="开始时间" right-icon="xiasanjiao" icon-prefix="icon" @click="toggle(0)"></van-field>
        </van-cell>
        <van-cell>
            <van-field class="bg-gray-2 van-button--round" readonly v-model="dateString2" placeholder="结束时间" right-icon="xiasanjiao" icon-prefix="icon" @click="toggle(1)"></van-field>
        </van-cell>
        <van-cell>
            <van-field class="bg-gray-2 van-button--round">
                <template #input>
                    共计：{{hours}}小时
                </template>
            </van-field>
        </van-cell>
        <van-cell>
            <van-field class="bg-gray-2" type="textarea" rows="3" clearable v-model="reason" placeholder="请假原因"></van-field>
        </van-cell>
        <van-cell style="overflow:auto">
            <template #title>
                <van-uploader result-type="file" :accept="accept" max-count="4" v-model="fileList" :before-read="beforeRead" :after-read="afterRead" :before-delete="beforeDelete" />
            </template>
        </van-cell>
        <van-cell>
            <van-button :disabled="disabled" @click="submit" type="cyan" block round>提 <span class="pd-lg-x"></span> 交</van-button>
        </van-cell>

        <van-popup v-model="show" position="bottom">
            <van-datetime-picker v-model="currentDate" type="datetime" :min-date="minDate" :max-date="maxDate" @cancel="show=false" @confirm="ok" />
        </van-popup>
    </div>
</template>
<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import dayjs from "dayjs";
import { getTypeList, leaveLnfo, uploadFile, leaveAdd, leaveEdit } from '../http';
import Compressor from "compressorjs";
import { debounce } from 'helpful-decorators';
// import Worker from "worker-loader!../utils/worker";
const upload = {
    loading: 'uploading',
    done: "done",
    failed: "failed",
}
interface UploadItem {
    content: string
    file: File
    status: string
    message: string
    url: string
}
@Component<AskForLeaveForm>({
    beforeRouteEnter:(to, from, next) => {
        let info: typeof leaveLnfo = to.params.id ? leaveLnfo : (() => Promise.resolve()) as any
        Promise.all([info({ id: to.params.id }), getTypeList()]).then(rs => next(vm => {
            const [info, typeList] = rs
            if (info) {
                vm.id = to.params.id
                vm.type = String(info.type)
                vm.reason = info.reason
                vm.dateString1 = info.starttime
                vm.dateString2 = info.endtime
                vm.date1 = dayjs(info.starttime).toDate()
                vm.date2 = dayjs(info.endtime).toDate()
                vm.fileList = info.imageList.map((item: string): any => ({
                    content: item,
                    url: item,
                    status: upload.done
                }))
            }
            vm.option = typeList.map(item => {
                item.text = item.label
                return item
            })
        }))
    }
})
export default class AskForLeaveForm extends Vue {
    id: string = ""
    type = ""
    isDate1 = true
    date1: Date = new Date()
    date2: Date = new Date()
    dateString1 = ''
    dateString2 = ''
    reason = ''
    minDate = new Date()//new Date(this.date1.getFullYear() - 2, 1, 1)
    maxDate = new Date(this.minDate.getFullYear() + 3, 12, 31)
    currentDate = new Date()
    accept = "image/*"
    acceptAry = this.accept.split(",")
    option: model.GetTypeList[] = []
    fileList: UploadItem[] = []
    private show: boolean = false
    get text(): string {
        let item = this.option.find(item => item.value === this.type)
        return item ? item.text : ""
    }
    get hours(): number {
        let hours = 0
        if (this.dateString1 && this.dateString2) {
            hours = dayjs(this.date2).diff(dayjs(this.date1), "hour")
        }
        return hours
    }
    get disabled(): boolean {
        return !(this.type && this.dateString1 && this.dateString2 && this.reason)
    }
    private toggle(flag: 0 | 1) {
        this.isDate1 = !flag
        this.currentDate = flag ? this.date2 : this.date1
        this.show = true
    }
    private ok(dateTime: Date) {
        let dateTimeString = dayjs(dateTime).format("YYYY-MM-DD HH:mm")
        dateTime = dayjs(dateTimeString).toDate()
        if (this.isDate1) {
            if (this.dateString2 && dateTime.getTime() - this.date2.getTime() >= 0) {
                return this.$toast('开始时间不得大于等于结束时间')
            }
            this.date1 = dateTime
            this.dateString1 = dateTimeString
        } else {
            if (this.dateString1 && dateTime.getTime() - this.date1.getTime() <= 0) {
                return this.$toast('结束时间不得小于等于开始时间')
            }
            this.date2 = dateTime
            this.dateString2 = dateTimeString
        }
        this.show = false
    }
    private compressor(file: File, lastsize: number, minSize: number, resolve: Function) {
        const self = this
        if (file.size < minSize) return resolve(file)
        new Compressor(file, {
            mimeType: file.type,
            convertSize: 1,
            quality: file.type === "image/png" ? 0.92 : minSize / file.size,
            success(result) {
                console.log(file.type, result.size, result.size <= minSize, file.type === "image/png" ? 0.92 : Math.min(minSize / file.size, 0.90));
                let _file = new File([result], file.name, { type: "image/jpeg" })
                /** 有可能图片尺寸大于限制且无法再被压缩。result.size === lastsize */
                if (result.size === lastsize || result.size <= minSize) {
                    console.log(`压缩完成`);
                    resolve(_file)
                } else {
                    return self.compressor(_file, result.size, minSize, resolve)
                }
            }
        })
    }
    private compress(file: File): Promise<File> {
        return new Promise(resovle => {
            this.compressor(file, 0, 500 * 1024, resovle)
        })
    }
    private beforeRead(file: File) {
        console.log(file.type);

        if (!/\/(jpeg|png)/.test(file.type)) {
            this.$toast('不支持的文件，请选择png,jpg格式的图片')
            return false
        }
        return true
    }

    private async afterRead(file: UploadItem) {
        file.status = upload.loading;
        file.file = await this.compress(file.file)
        file.content = URL.createObjectURL(file.file)
        uploadFile({
            file: file.file
        }, {
            onUploadProgress(progress: ProgressEvent) {
                file.message = Math.round(progress.loaded * 100 / progress.total) + '%'
            },
            timeout:0
        }).then(imgUrl => {
            file.status = upload.done
            file.url = imgUrl
        }).catch(() => {
            file.status = upload.failed
        }).finally(() => file.message = "上传失败")
    }
    private beforeDelete(file: UploadItem) {
        return new Promise((resolve, reject) => {
            let failed = file.status === 'failed';
            this.$dialog.confirm({
                message: failed ? '您希望执行哪种操作?' : '确认删除该图片吗?',
                confirmButtonText: '删除',
                cancelButtonText: failed ? '重新上传' : '取消',
            }).then(() => {
                URL.revokeObjectURL(file.content)
                resolve()
            }).catch(() => {
                failed && this.afterRead(file)
                reject()
            })
        })
    }
    private submit() {
        let item = this.fileList.find(item => item.status !== upload.done)
        if (item && item.status === upload.loading) {
            return this.$toast(`请等待图片上传完成`)
        }
        if (item && item.status === upload.failed) {
            return this.$toast(`请先处理上传失败的图片`)
        }
        let $ = this.$toast.loading()
        !(this.id ? leaveEdit : leaveAdd)({
            id: this.id,
            reason: this.reason,
            type: this.type,
            starttime: this.dateString1,
            endtime: this.dateString2,
            // longth: this.hours,
            imageUrl: this.fileList.map(item => item.url)
        }).then(() => this.$router.go(-1)).finally($.close)
    }
    private beforeDestroy() {
        this.fileList.forEach(item => {
            item.file = null as any
            URL.revokeObjectURL(item.content)
        })
    }
}
</script>

