<template>
    <div class="askForLeave">
        <van-sticky>
            <!-- 老师搜索框 -->
            <van-cell-group v-if="$userInfo.roletype===1">
                <van-cell :border="false">
                    <van-field class="fw-normal bg-gray-2 van-button--round" v-model.trim="studentName" placeholder="请输入学生姓名">
                        <template #button>
                            <van-button :type="type===0?'default':'primary'" round size="mini" @click.stop="$refs.dropdown.toggleItem(0)" :text="option[type].text"></van-button>
                        </template>
                    </van-field>
                    <template #right-icon>
                        <van-dropdown-menu ref="dropdown" class="dropdown-helper">
                            <van-dropdown-item title-class="mini-drop" v-model="type" :options="option" />
                        </van-dropdown-menu>
                    </template>
                </van-cell>
                <van-cell>
                    <van-field class="bg-gray-2 van-goods-action-button--first" readonly v-model="date" placeholder="请选择日期" @click-right-icon.stop="date=''" @click="show=true">
                        <template #right-icon>
                            <van-icon name="clear" v-show="date"></van-icon>
                        </template>
                        <template #button>
                            <van-icon name="xiasanjiao van-field__right-icon" class-prefix="icon"></van-icon>
                        </template>
                    </van-field>
                    <template #right-icon>
                        <van-button class="van-goods-action-button--last" type="cyan" square :loading="loading" @click="search">
                            查询
                        </van-button>
                    </template>
                </van-cell>
            </van-cell-group>
            <!-- 非老师端按钮 -->
            <button-group v-else class="fs-20">
                <van-button v-show="$userInfo.roletype===2" to="/askForLeaveForm" size="large" class="mg-xs-b fs-inherit" round type="cyan" icon="records"></van-button>
                <van-button @click="showStudentRadio=true" size="large" class="mg-xs-b fs-inherit" round type="cyan" icon="search"></van-button>
            </button-group>
        </van-sticky>
        <my-list-view :fetch="fetch" ref="listView" class="pd-md">
            <van-cell-group v-for="item in list" :key="item.id" class="mg-md-b">
                <!-- 非老师端状态显示 -->
                <van-cell v-if="$userInfo.roletype!==1" center :title="item.realNameDto" title-class="fw-bold fs-16" :label="'班级：'+item.classLevelNameDto" :value-class="'fs-40 '+statusColors[item.status-1]">
                    <van-icon class-prefix="icon" :name="statusIcon[item.status-1]"></van-icon>
                </van-cell>
                <!-- 老师端状态显示 -->
                <van-cell v-else center :title="item.realNameDto" title-class="fw-bold fs-16" :label="'班级：'+item.classLevelNameDto">
                    <van-button :disabled="item.status!==1" round size="small" :type="statusButton[item.status-1]" @click="curItem = item,showTask=true">{{statusText[item.status-1]}}</van-button>
                </van-cell>
                <van-cell>
                    <div>请假类型：{{item.typeName}}</div>
                    <van-row type="flex">
                        <van-col style="flex-shrink:0">请假原因：</van-col>
                        <van-col> {{item.reason}} </van-col>
                    </van-row>
                    <van-row type="flex" v-if="item.status===3">
                        <van-col style="flex-shrink:0">驳回原因：</van-col>
                        <van-col> {{item.rejectReason}} </van-col>
                    </van-row>
                </van-cell>
                <van-cell>
                    <!-- 非老师端且审核通过或者失败显示审批人 -->
                    <div v-if="$userInfo.roletype!==1&&(item.status===2||item.status===3)">审批人：{{item.reviewUser}}</div>
                    <div>开始时间：{{item.starttime}}</div>
                    <div>结束时间：{{item.endtime}}</div>
                    <div>共计：{{item.longth}}小时</div>
                    <div>审批时间：{{item.reviewDate}}</div>
                </van-cell>
                <!-- 家长端操作显示 -->
                <van-cell v-if="$userInfo.roletype===2&&(item.status===1||item.status===3)">
                    <van-button block size="small" type="info" class="van-goods-action-button--last" @click="del(item)">撤销</van-button>
                    <template #title>
                        <van-button block size="small" type="primary" class="van-goods-action-button--first" :to="{path:'/askForLeaveForm/'+item.id}">编辑</van-button>
                    </template>
                </van-cell>
            </van-cell-group>
        </my-list-view>
        <!-- 老师端的弹层 -->
        <!-- 日历选择 -->
        <van-calendar v-model="show" :round="false" :show-subtitle="false" @confirm="ok" :min-date="minDate" :max-date="maxDate" type="range" />
        <!-- 审批操作 -->
        <van-popup :style="{'min-width':'300px'}" v-model="showTask" closeable>
            <van-cell class="van-row--justify-space-between" center :title="curItem.realNameDto" title-class="fw-bold fs-16" :label="'请假类型：'+curItem.typeName" right-icon="close">
            </van-cell>
            <van-cell>
                <div>开始时间：{{curItem.starttime}}</div>
                <div>结束时间：{{curItem.endtime}}</div>
                <div>共计：{{curItem.longth}}小时</div>
            </van-cell>
            <van-cell :border="false" title="请假原因：" title-class="flex-none" value-class="text-left">{{curItem.reason}}</van-cell>
            <van-cell v-if="curItem.imageList.length" :border="false" title="图片：" title-class="flex-none" value-class="text-left" class="pd-none-y">
                <van-image v-for="(img,index) in curItem.imageList" :key="index" class="mg-xs-r" width="50" height="50" @click="viewImage(index)" lazy-load :src="img"></van-image>
            </van-cell>
            <van-cell>
                <template #title>
                    <van-button size="small" @click="review(2)" block type="primary" class="van-goods-action-button--first">通过</van-button>
                </template>
                <template #default>
                    <van-button size="small" @click="showMesage=true" block type="info" class="van-goods-action-button--last">驳回</van-button>
                </template>
            </van-cell>
        </van-popup>
        <!-- 驳回操作 -->
        <van-popup :style="{'min-width':'300px'}" v-model="showMesage" class="bg-none">
            <van-field v-model="message" rows="4" maxlength="40" clearable show-word-limit autosize type="textarea" placeholder="请填写驳回理由" />
            <van-button @click="review(3)" class="mg-lg-t" type="primary" block round>提交</van-button>
        </van-popup>
        <!-- 非老师端搜索选择弹窗 -->
        <van-popup v-model="showStudentRadio" position="top">
            <van-radio-group v-model="type" @change="search()">
                <van-cell-group>
                    <van-cell v-once v-for="(item,index) in option" :key="index" :title="item.text" @click="radio = item.value">
                        <template #right-icon>
                            <van-radio :name="item.value" />
                        </template>
                    </van-cell>
                </van-cell-group>
            </van-radio-group>
        </van-popup>
    </div>
</template>
<script lang="ts">
type List = model.LeaveRecordList["list"]
import { Component, Prop, Vue } from 'vue-property-decorator';
import dayjs from "dayjs";
import { leaveRecordList, leaveDelete, leaveReview } from '../http';
import ButtonGroup from '@/components/ButtonGroup.vue'
const thisYear = new Date().getFullYear()
@Component({
    components: {
        ButtonGroup
    }
})
export default class extends Vue {
    private loading: boolean = false
    private showStudentRadio: boolean = false
    private show: boolean = false
    private showTask: boolean = false
    private showMesage: boolean = false
    private showButton: boolean = false
    private studentName: string = ""
    private studentSearchValue: string = ""
    private date: string = ""
    private message: string = ""
    private minDate = new Date(thisYear - 1, 0, 1)
    private maxDate = new Date(thisYear + 1, 11, 31)
    private statusIcon = ["shenhezhong", "yitongguo", "weitongguo", "yichexiao"]
    private statusText = ['审批操作', '已通过', '未通过', '已撤销']
    private statusColors = ['fg-red', 'fg-green', 'fg-gray', 'fg-orange']
    private statusButton = ['danger', 'primary', 'gray-8', 'warning']
    private list: List = []
    private pageNo: number = 0
    private curItem: List[0] = { imageList: [] } as any
    private type: number = 0
    private option = [
        { text: '全部', value: 0 },
        { text: '申请中', value: 1 },
        { text: '已通过', value: 2 },
        { text: '未通过', value: 3 },
        { text: '已撤销', value: 4 },
    ]
    private del(item: List[0], index: number) {
        this.$dialog.confirm({
            message: `是否撤销此记录？`
        }).then(() => {
            let $ = this.$toast.loading()
            leaveDelete({ id: item.id }).then(() => {
                item.status = 4
            }).finally($.close)
        })
    }

    private ok(value: Date[]) {
        const [start, end] = value;
        this.show = false
        this.date = dayjs(start).format("YYYY-MM-DD") + "至" + dayjs(end).format("YYYY-MM-DD")
    }
    private viewImage(index: number) {
        this.$imagePreview({
            images: this.curItem.imageList,
            startPosition: index,
        });
    }
    private search(value: Date) {
        this.list = [];
        this.pageNo = 0;
        this.showStudentRadio = false;
        (this.$refs.listView as any).load(value)
    }
    private fetch() {
        this.pageNo++
        let dateAry = this.date.split("至")
        return leaveRecordList({
            pageNumber: this.pageNo,
            status: this.type || undefined,
            stuName: this.studentName,
            starttime: dateAry[0],
            endtime: dateAry[1],
        }).then(rs => {
            this.list.push(...rs.list)
            return rs
        })
    }
    private review(flag: 2 | 3) {
        let loading = this.$toast.loading()
        leaveReview({
            id: this.curItem.id,
            status: flag,
            rejectReason: this.message
        }).then(newItem => {
            this.showTask = false
            this.showMesage = false
            this.message = ""
            Object.assign(this.curItem, newItem)
            this.$toast(`操作成功`)
        }).finally(loading.close)
    }
}
</script>

