<template>
    <div class="calendar" v-cloak>
        <van-cell v-if="$userInfo.roletype===1" center :title="studentInfo.realNameDto" title-class="fs-18 fw-bold mg-md-l">
            <template #icon>
                <van-image round width="70" height="70" fit="cover" :src="studentInfo.userImage"></van-image>
            </template>
            <template #label>
                <van-button :to="'/rules?type='+type" round size="mini" type="green-light mg-sm-t">考勤规则</van-button>
            </template>
        </van-cell>
        <div v-else class="pd-lg-y bg-green text-center fg-white">
            <van-image round width="70" height="70" fit="cover" :src="$userInfo.userImage" />
            <div class="fw-bold">{{$userInfo.realName}}</div>
        </div>

        <van-calendar v-if="$userInfo.roletype!==1" color="#b2d257" @select="selectDate" :default-date="currentDate" :poppable="false" :formatter="formatter" :show-confirm="false" :max-range="1" :show-mark="false" :show-title="false" :show-subtitle="true" :max-date="maxDate" :min-date="minDate" />
        <div class="pd-xs"></div>
        <van-cell v-for="(item,index) in days" :key="index">
            <div class="pd-xs-y">{{item.type===1?'进入':'离开'}}时间：<span :class="{'fg-red':item.status!==1}">{{item.createDate}}<span v-if="item.status!==1" style="float:right">{{status(item.status)}}</span></span></div>
            <van-button round block size="small" type="blue-light fw-bold fg-black text-left" disabled icon="location-o">{{item.address}}</van-button>
        </van-cell>

    </div>
</template>
<script lang="ts">
interface Day {
    className?: string
    topInfo?: string | number
    bottomInfo?: string | number
    date: Date
    text: string | number
    type: string
}
import { Component, Vue } from 'vue-property-decorator';
import dayjs from 'dayjs';
import { getAccomRecordList, getClassRecordList } from "$apis";
let today = new Date()

@Component
export default class Calendar extends Vue {
    private minDate: Date = today
    private maxDate: Date = today
    private currentDate: Date = today
    private date: string = ""
    private show: boolean = false
    private type = "1"
    private data: model.res.GetAccomRecordList["list"] = []
    private studentInfo: model.res.ItemForTeacher = {} as any

    get days() {
        if (this.$userInfo.roletype === 1) {
            return this.data
        }
        const dateString = dayjs(this.currentDate).format("YYYY-MM-DD");
        return this.data.filter(item => item.dateTag === dateString)
    }
    status(status: number) {
        console.log(this.type,this.type==="1");

        return this.type === "1" ? (status === 2 ? '晚归' : '未归') : (status === 2 ? '迟到' : '早退')
    }
    private selectDate(date: Date) {
        this.currentDate = date
    }

    private formatter(day: any) {
        if (day.type !== "disabled") {
            let arr = this.data.filter(item => item.dateTag === dayjs(day.date).format("YYYY-MM-DD") && item.status !== 1)
            if (arr.length) {
                day.bottomInfo = "●"
                const item = arr.find(item => item.status === 3)
                if (item) {
                    day.className = "error3"
                    return day
                }
                day.className = "error2"
            }
        }
        return day
    }
    created() {
        let loading = this.$loading()
        if (this.$userInfo.roletype === 1) {
            this.studentInfo.realNameDto = decodeURIComponent(this.$route.query.realNameDto as any)
            this.studentInfo.userImage = decodeURIComponent(this.$route.query.userImage as any)
            document.title += "-" + this.studentInfo.realNameDto
        } else {
            this.minDate = new Date(today.getFullYear(), today.getMonth(), 1)
            if (dayjs(today).format("YYYY-MM") === this.$route.query.date) {
                this.maxDate = today
            } else {
                this.maxDate = new Date(today.getFullYear(), today.getMonth() + 1, 0)
            }
        }
        console.log(this.$route.query.from,typeof this.$route.query.from);

        this.type = this.$route.query.from.toString()
        const f = this.$route.query.from === "1" ? getAccomRecordList : getClassRecordList;
        f({
            pageNumber: 1,
            pageSize: 9999999,
            month: this.$route.query.date as string,
            studentUserUniq: this.$route.query.uuid as string,
            status: this.$route.query.type
        } as any).then(rs => {
            this.data = rs.list
        }).finally(loading.close)
    }
}
</script>

