<template>
    <div class="classTimeRecords">
        <van-cell center :title="$userInfo.realName" title-class="fs-18 fw-bold mg-md-l" :class="$userInfo.roletype===1?'':'bg-green-light mg-md-b fg-white'">

            <van-button v-if="$userInfo.roletype!==1" to="/rules?type=2" round size="mini" type="green">考勤规则</van-button>
            <template #icon>
                <van-image round width="70" height="70" fit="cover" :src="$userInfo.userImage"></van-image>
            </template>
            <template #label>
                <van-button v-if="$userInfo.roletype===1" to="/rules" round size="mini" type="green">考勤规则</van-button>
                <van-button v-else :to="'/calendar?date='+date" round size="mini" type="cyan-dark mg-sm-t">打卡日历</van-button>
            </template>
        </van-cell>
        <!--
        <van-sticky>
            <van-cell v-if="$userInfo.roletype!==1" size="large text-center">
                <template #title>
                    <van-button @click="adjustDate(-1)" size="small border-none" icon="arrow-left"></van-button>
                    <van-button @click="show=true" size="small border-none">{{date}}</van-button>
                    <van-button @click="adjustDate(1)" size="small border-none" icon="arrow" :disabled="disabled"></van-button>
                </template>
            </van-cell>
            <van-tabbar v-else v-model="active" :fixed="false" class="fw-bold" @change="search">
                <van-tabbar-item>
                    本人
                </van-tabbar-item>
                <van-tabbar-item>
                    学生
                </van-tabbar-item>
            </van-tabbar>
        </van-sticky>
        -->

        <template v-if="$userInfo.roletype===1">
            <van-collapse v-model="activeNames" :accordion="true">
                <van-collapse-item :title="item.name" size="large mg-md-t" :value="item.list.length+'人'" :name="index" :disabled="!item.list.length" v-for="(item,index) in stuList" :key="item.id">
                    <van-cell :to="'/calendar?id='+sub.id" is-link :title="sub.realNameDto" center title-class="fw-bold mg-sm-l" class="bg-gray-2 radius-xs mg-sm-y" v-for="(sub,index) in item.list" :key="index">
                        <template #icon>
                            <van-image round width="40" height="40" fit="cover" :src="sub.userImage"></van-image>
                        </template>
                    </van-cell>
                </van-collapse-item>
            </van-collapse>
        </template>

        <template v-else>
            <van-collapse v-model="activeNames" :accordion="true">
                <van-collapse-item size="large mg-md-t" :value="data[index].length" :name="index" :disabled="!data[index].length" v-for="(item,index) in types" :key="item.id">
                    <template #title>
                        <van-icon :name="item.class" class="fs-20 valign-middle mg-xs-r fw-bold" class-prefix="icon" /><span class="valign-middle">{{item.typeName}}</span>
                    </template>
                    <div class="pd-xs" v-for="sub in data[index]" :key="sub.id">
                        <template v-if="index===0">
                            {{sub}}<span class="pd-sm-x"></span>{{sub|getDay}}
                        </template>
                        <template v-else>
                            {{sub.dateTag}}<span class="pd-sm-x"></span>{{sub.dateTag|getDay}}
                        </template>
                    </div>
                </van-collapse-item>
            </van-collapse>
        </template>

        <van-popup v-model="show" position="bottom">
            <van-datetime-picker v-model="currentDate" type="year-month" :max-date="maxDate" @cancel="show=false" @confirm="ok" />
        </van-popup>

    </div>
</template>
<script lang="ts">
import { getClassRecordStatistics, getClassRecordStatisticsByTeacher } from "$apis";
import { Component, Prop, Vue } from 'vue-property-decorator';
import dayjs from "dayjs";

function format(date: Date | dayjs.Dayjs): string {
    return dayjs(date).format("YYYY-MM")
}
const days = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"]
@Component({
    filters: {
        getDay(date: string): string {
            return days[dayjs(date).day()]
        }
    }
})
export default class extends Vue {
    private active: number = 0
    private activeNames: number = -1
    private show: boolean = false
    private currentDate = new Date()
    private maxDate = new Date()
    private types = [
        {
            type: 1,
            typeName: "上课天数",
            class: "emoji0 fg-orange",
        },
        {
            type: 3,
            typeName: "迟到",
            class: "emoji1 fg-blue",
        },
        {
            type: 4,
            typeName: "早退",
            class: "emoji2 fg-cyan",
        },
    ]
    private data: any[][] = [[], [], []]
    private stuList: any[] = [
        { id: 1, name: '晚归学生', list: [] },
        { id: 2, name: '未归学生', list: [] },
    ]
    private get disabled(): boolean {
        return this.date === format(this.maxDate)
    }

    private get date(): string {
        // return format(this.currentDate)
        return format(dayjs(this.currentDate).subtract(1, 'month'))
    }

    private ok(value: Date) {
        this.show = false
        let datestring = format(this.currentDate)
        if (this.date === datestring) return
        this.search()
    }
    private search() {
        this.activeNames = -1
        this.fetch()
    }
    private adjustDate(n: number) {
        this.currentDate = new Date(this.currentDate.getFullYear(), this.currentDate.getMonth() + n)
        this.search()
    }
    private fetch() {
        let loading = this.$loading()
        if (this.$userInfo.roletype === 1) {
            getClassRecordStatisticsByTeacher({
                month: this.date
            }).then(rs => {
                this.stuList[0].list = rs.cdxsList
                this.stuList[1].list = rs.ztxsList
            }).finally(loading.close)
        } else {
            getClassRecordStatistics({
                month: this.date
            }).then(rs => {
                this.data = [rs.sktsList, rs.cdcsList, rs.ztcsList]
            }).finally(loading.close)
        }

    }
    private created() {
        this.fetch()
    }
}
</script>

