<template>
    <div class="statistics">
        <van-sticky>
            <van-cell class="bg-green" center :title="$userInfo.realName" title-class="fs-18 fw-bold mg-md-l fg-white" label-class="mg-sm-t">
                <van-button round size="mini pd-sm-x" type="green" :to="'/rules?type='+type">考勤规则</van-button>
                <template #icon>
                    <van-image round width="70" height="70" fit="cover" :src="$userInfo.userImage"></van-image>
                </template>
                <template #label>
                    <van-button round size="mini pd-sm-x" type="black" :to="{path:'/calendar',query:{date:date,from:type}}">打卡日历</van-button>
                </template>
            </van-cell>
        </van-sticky>
        <van-cell class="mg-md-y" value-class="van-row--flex van-row--justify-center">
            <van-button round size="small border-none" icon="arrow-left" @click="adjust(-1)"></van-button>
            <van-button round size="small border-none" @click="show=true">{{date}}</van-button>
            <van-button round size="small border-none" icon="arrow" @click="adjust(1)"></van-button>
        </van-cell>
        <van-collapse v-model="activeNames" accordion>
            <van-collapse-item size="large" :disabled="!item.length" :value="item.length+unit" :name="index+''" v-for="(item,index) in list" :key="index" :title="title(index)">
                <template #icon>
                    <van-icon :name="icons(index)" size="20" :color="index===0?'#fed488':'#FA9AA5'" class-prefix="mg-xs-r icon" />
                </template>
                <p v-for="(sub,subIndex) in item" :key="subIndex">{{formatDay(sub)}}</p>
            </van-collapse-item>
        </van-collapse>
        <van-popup v-model="show" position="bottom">
            <van-datetime-picker v-model="currentDate" type="year-month" :max-date="maxDate" @cancel="show=false" @confirm="search" />
        </van-popup>
    </div>
</template>
<script lang="ts">
import { getAccomRecordStatistics } from "$apis";
import { Component, Prop, Vue } from 'vue-property-decorator';
import dayjs from "dayjs";

let _today = new Date(), today = new Date(_today.getFullYear(), _today.getMonth())
@Component
export default class extends Vue {
    public type: number = 1
    private activeNames: string[] = ['1']
    public list: [model.res.GetAccomRecordStatistics["wgList"], model.res.GetAccomRecordStatistics["weiguiList"]] = [[], []]
    public date: string = ""
    private currentDate: Date = today
    private maxDate: Date = today
    private show: boolean = false
    public days = ["天", "一", "二", "三", "四", "五", "六"]
    public unit = '次'

    public title(index: number): string {
        return index === 0 ? '晚归' : '未归'
    }
    public icons(index: number): string {
        return index === 0 ? 'jilu' : 'jingbao'
    }
    formatDay(date:string):string{
        return date+" 星期" + this.days[dayjs(date).day()]
    }
    private adjust(count: number) {
        if (this.currentDate === today && count === 1) return
        const date = dayjs(this.currentDate).add(count, "month").toDate()
        this.currentDate = date
        this.search()
    }
    public fetch() {
        let loading = this.$loading()
        getAccomRecordStatistics({
            month: this.date
        }).then(rs => {
            this.list = [rs.wgList || [], rs.weiguiList || []]
        }).finally(loading.close)
    }
    private search() {
        this.show = false
        let date = dayjs(this.currentDate).format("YYYY-MM")
        if (date === this.date) return;
        this.date = date
        this.fetch()
    }
    private created() {
        this.search();
    }
}
</script>

