<template>
    <div class="statistics">
        <van-cell center :title="$userInfo.realName" title-class="fs-18 fw-bold mg-md-l" label-class="mg-sm-t">
            <van-button round size="mini pd-sm-x" type="info" @click="show=true">{{date}}</van-button>
            <template #icon>
                <van-image round width="70" height="70" fit="cover" :src="$userInfo.userImage"></van-image>
            </template>
            <template #label>
                <van-button round size="mini pd-sm-x" type="primary" @click="show=true" :to="'/rules?type='+type">考勤规则</van-button>
            </template>
        </van-cell>
        <div class="pd-xs"></div>
        <van-collapse v-model="activeNames" accordion>
            <van-collapse-item size="large" :disabled="!item.length" :value="item.length+'人'" :name="index+''" v-for="(item,index) in list" :key="index" :title="title(index)">
                <van-cell :to="{path:'/calendar',query:decode(sub,index)}" is-link :title="sub.realNameDto" center title-class="fw-bold pd-lg-l" v-for="(sub,subindex) in item" :key="subindex">
                    <template #icon>
                        <van-image round width="50" height="50" fit="cover" :src="sub.userImage"></van-image>
                    </template>
                </van-cell>
            </van-collapse-item>
        </van-collapse>
        <van-popup v-model="show" position="bottom">
            <van-datetime-picker v-model="currentDate" type="year-month" :max-date="maxDate" @cancel="show=false" @confirm="search" />
        </van-popup>
    </div>
</template>
<script lang="ts">
import { getAccomRecordStatisticsByTeacher } from "$apis";
import { Component, Prop, Vue } from 'vue-property-decorator';
import dayjs from "dayjs";

@Component
export default class extends Vue {
    private activeNames: string[] = ['1']
    public list: [any, any] = [[], []]
    public date: string = ""
    public type: number = 1
    private currentDate: Date = new Date()
    private maxDate: Date = new Date()
    private show: boolean = false
    private isDorm: boolean = false

    private decode(item: model.res.GetClassRecordStatisticsByTeacher["cdxsList"][0], index: number) {
        return {
            uuid: item.uuid,
            realNameDto: item.realNameDto,
            userImage: encodeURIComponent(item.userImage),
            date: this.date,
            from: this.type,
            type: index+2
        }
    }
    public title(index: number) {
        return `${index === 0 ? '晚归' : '未归'}学生`
    }
    public fetch() {
        let loading = this.$loading()
        getAccomRecordStatisticsByTeacher({
            month: this.date
        }).then(rs => {
            this.list = [rs.wgxsList, rs.weigguiList]
        }).finally(loading.close)
    }
    private search() {
        this.show = false
        let date = dayjs(this.currentDate).format("YYYY-MM")
        if (date === this.date) return;
        this.date = date
        this.fetch()
    }
    beforeCreate() {
        if (this.$route.path !== "/classTimeRecords") {
            this.isDorm = true
        }
    }
    private created() {
        this.search();
    }
}
</script>

