<template>
    <div class="temp">
        <div class="pd-lg-y bg-green-light text-center fg-white" v-if="$userInfo.roletype!==1">
            <van-image round width="80px" height="80px" fit="cover" :src="$userInfo.userImage" />
            <div class="fw-bold">{{$userInfo.realName}}</div>
        </div>
        <van-sticky v-if="$userInfo.roletype!==1">
            <van-tabbar v-model="type" :border="false" inactive-color="#ddd" active-color="#fff" :fixed="false" class="fw-bold bg-green-light" @change="search">
                <van-tabbar-item>
                    全部
                </van-tabbar-item>
                <van-tabbar-item>
                    正常
                </van-tabbar-item>
                <van-tabbar-item>
                    异常
                </van-tabbar-item>
            </van-tabbar>
        </van-sticky>
        <van-sticky v-else>
            <van-tabbar v-model="active" inactive-color="#999" active-color="#333" :fixed="false" class="fw-bold" @change="search">
                <van-tabbar-item>
                    本人
                </van-tabbar-item>
                <van-tabbar-item>
                    学生
                </van-tabbar-item>
            </van-tabbar>
            <van-cell-group v-show="active===1">
                <van-cell>
                    <van-field class="fw-normal bg-gray-2 van-button--round" clearable v-model.trim="name" placeholder="请输入学生姓名">
                        <template #button>
                            <van-button round size="small" @click="type=type==1?0:1" :type="type===1?'primary':'default'">
                                体温正常
                            </van-button>
                            <van-button round size="small" @click="type=type==2?0:2" :type="type===2?'danger':'default'">
                                体温异常
                            </van-button>
                        </template>
                    </van-field>
                </van-cell>
                <van-cell>
                    <van-field class="bg-gray-2 van-goods-action-button--first" readonly v-model="date" placeholder="请选择日期" @click-right-icon.stop="date=''" @click="show=true">
                        <template #right-icon>
                            <van-icon name="clear" v-show="date"></van-icon>
                        </template>
                        <template #button>
                            <van-icon name="xiasanjiao van-field__right-icon" class-prefix="icon"></van-icon>
                        </template>
                    </van-field>
                    <template #right-icon>
                        <van-button class="van-goods-action-button--last" type="cyan" @click="search">
                            查 <span class="pd-xs-x"></span> 询
                        </van-button>
                    </template>
                </van-cell>
            </van-cell-group>
        </van-sticky>

        <my-list-view :fetch="fetch" ref="listview" class="pd-md-x">
            <!-- 老师列表 -->
            <template v-if="$userInfo.roletype===1">
                <van-cell-group v-for="item in list" :key="item.id" class="mg-md-t">
                    <van-cell :title="'姓名：'+item.realNameDto">
                        <van-button size="small" round :type="item.status===1?'primary':'danger'" class="extra">{{item.status===1?'体温正常':'体温异常'}}</van-button>
                    </van-cell>
                    <van-cell>
                        <div>地址：{{item.location}}</div>
                        <div>体温：{{item.temperature}}</div>
                        <div>口罩检测：{{item.maskEnabled===0?'未开启':'已开启'}}</div>
                        <div>日期：{{item.updateDate}}</div>
                    </van-cell>
                </van-cell-group>
            </template>
            <!-- 非老师列表 -->
            <template v-else>
                <van-panel v-for="item in list" :key="item.id" class="mg-md-t">
                    <template #header>
                        <van-cell :title="item.updateDate" title-class="fg-gray"></van-cell>
                    </template>
                    <van-cell :border="false">
                        <van-col span="8" class="text-center">
                            <div class="fs-14">体温</div>
                            <div class="fs-18 fw-bold">{{item.temperature}}</div>
                        </van-col>
                        <van-col span="8" class="text-center">
                            <div class="fs-14">身体状态</div>
                            <div class="fs-18 fw-bold" :class="item.status===1?'':'fg-red'">{{item.status===1?'正常':'异常'}}</div>
                        </van-col>
                        <van-col span="8" class="text-center">
                            <div class="fs-14">口罩检测</div>
                            <div class="fs-18 fw-bold">{{item.maskEnabled===0?'未开启':'已开启'}}</div>
                        </van-col>
                    </van-cell>
                    <template #footer>
                        <van-button disabled block round type="blue-light" size="small" icon="location-o" class="text-left">地址：{{item.location}}</van-button>
                    </template>
                </van-panel>
            </template>
        </my-list-view>
        <van-popup v-model="show" position="bottom">
            <van-datetime-picker v-model="currentDate" type="date" :min-date="minDate" :max-date="maxDate" @cancel="show=false" @confirm="ok" />
        </van-popup>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import dayjs from "dayjs";
import { getTplRecordList } from "$apis";
let today = new Date()

@Component
export default class extends Vue {
    private active: 0 | 1 = 0
    private type: 0 | 1 | 2 = 0
    private finished: boolean = false
    private loading: boolean = false
    private error: boolean = false
    private show: boolean = false
    private isStudent: boolean = false
    private name: string = ""
    private date: string = ""
    private currentDate = new Date()
    private minDate = new Date(today.getFullYear() - 10, 0, 1)
    private maxDate = today
    private list: model.GetTplRecordListItem[] = []
    private pageNo: number = 0

    private ok(value: Date) {
        this.show = false
        this.date = dayjs(value).format("YYYY-MM-DD")
        this.currentDate = value
    }
    private search(value: Date) {
        this.list = [];
        this.pageNo = 0;
        (this.$refs.listview as any).load(true)
    }
    private fetch(reset?: boolean) {
        this.pageNo++
        return getTplRecordList({
            pageNumber: this.pageNo,
            status: this.type || null as any,
            stuName: this.active ? this.name : "",
            self: this.active,
            dateTag: this.active ? this.date : ""
        }).then(rs => {
            this.list.push(...rs.list)
            return rs
        })
    }
    private created() {
        this.isStudent = this.$$store.state.userInfo.roletype === 3
    }
}
</script>

