<template>
    <div class="home">
        <van-swipe class="bg-white" style="height:56.25vw" :autoplay="4000" indicator-color="white" lazy-render>
            <van-swipe-item v-for="(item,index) in list" :key="index" @click="link(item.url)">
                <van-image width="100%" height="100%" lazy-load :src="item.imgUrl" fit="contain" />
            </van-swipe-item>
        </van-swipe>
        <van-grid :column-num="column" gutter="10" :border="false" class="mg-md-t">
            <van-grid-item v-for="(item,index) in navs" :key="index" :to="item" v-once>
                <img :src="require(`$images/${index+1}.png`)">
            </van-grid-item>
        </van-grid>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { componentsMap } from "$utils";
import { banner } from "$apis";

@Component
export default class extends Vue {
    private column: number = window.innerWidth > 640 ? 3 : 2
    private list: model.Banner[] = []
    navs: string[] = [
        "/healthRecords",
        "/askForLeave",
        "/classTimeRecords",
        "/dormTimeRecords",
        "/scoreInquiry",
        "/teacherInfo",
        // "/schooltimeStatistics",
        // "/dormStatistics",
    ]
    private link(url: string) {
        if (url.startsWith("http")) {
            window.location.href = url
        }
    }
    private created() {
        banner().then(rs => this.list = rs)
    }
}
</script>

