<template>
    <div class="login" style="overflow:hidden">
        <van-image :style="{transform: `scale(${1+0.008*form.active})`,display:'block'}" height="58.7vw" :src="require('$images/login.jpg')" />
        <van-tabs v-model="form.active" :background="colors[form.active]" title-inactive-color="#ddd" title-active-color="#fff">
            <van-tab title="学生"></van-tab>
            <van-tab title="教师"></van-tab>
            <van-tab title="家长">
                <van-cell>
                    <van-field class="bg-gray-2 van-button--round" type="number" maxlength="20" v-model.lazy="form.childNumber" placeholder="子女学号"></van-field>
                </van-cell>
                <van-cell>
                    <van-field class="bg-gray-2 van-button--round" maxlength="6" v-model.lazy="form.childName" placeholder="子女姓名"></van-field>
                </van-cell>
            </van-tab>
        </van-tabs>
        <van-cell>
            <van-field class="bg-gray-2 van-button--round" type="number" maxlength="11" v-model.lazy="form.phoneNumber" placeholder="手机号码"></van-field>
        </van-cell>
        <van-cell>
            <van-field class="bg-gray-2 van-goods-action-button--first" :maxlength="imgCodeLength" v-model.lazy="form.imgCode" placeholder="图形验证码"></van-field>
            <template #right-icon>
                <van-image class="van-goods-action-button--last bg-gray-2 pd-md-r" style="overflow:hidden" :src="baseURL+'/captchaImage?utoken='+uuid" width="100" height="44" @click="createImgCode">
                    <template #error>
                        点击重试
                    </template>
                </van-image>
            </template>
        </van-cell>
        <van-cell>
            <van-field class="bg-gray-2 van-goods-action-button--first" type="number" :maxlength="msgCodeLength" v-model="form.msgCode" placeholder="短信验证码"></van-field>
            <template #right-icon>
                <van-button :disabled="!(getable&&canBeRetry)" class="van-goods-action-button--last" type="primary" @click="getMsgCode">
                    {{canBeRetry?'获 取 验 证 码':count+'s'}}
                </van-button>
            </template>
        </van-cell>

        <van-cell style="padding-top:50px">
            <van-button :disabled="!loginable" round block type="primary" @click="submit" :loading="loading">
                登<span class="pd-lg-x"></span>录
            </van-button>
        </van-cell>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { isChineseRegexp } from "$utils";
import { sendSMSCode, getTplRecordList, bindPhone } from "$apis";
import { baseURL } from '../http/axios';

@Component
export default class extends Vue {
    private colors: string[] = ["#7AD56C", "#4CB799", "#538582"]
    private phoneReg: RegExp = /^(0|86|17951)?(13[0-9]|15[012356789]|166|17[3678]|18[0-9]|14[57]|199)[0-9]{8}$/
    private imgCodeLength: number = 4
    private msgCodeLength: number = 4
    private canBeRetry: boolean = true
    private loading: boolean = false
    private count: number = 60
    private timer: number = 0
    private uuid: string = this.uuidv4()
    private baseURL: string = baseURL
    private form = {
        childNumber: "",
        childName: "",
        phoneNumber: "",
        imgCode: "",
        msgCode: "",
        active: 0
    }

    get loginable(): boolean {
        let flag = this.form.msgCode.length === this.msgCodeLength
        return (!this.canBeRetry || this.getable) && flag
    }
    get getable(): boolean {
        const condition1 = this.phoneReg.test(this.form.phoneNumber) && (this.form.imgCode.length === this.imgCodeLength)
        const condition2 = isChineseRegexp.test(this.form.childName) && (this.form.childNumber.length > 0)
        if (this.form.active !== 2) return condition1
        return condition1 && condition2
    }
    private uuidv4(): string {
        //@ts-ignore
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, (c: any) =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        )
    }
    private createImgCode() {
        this.uuid = this.uuidv4()
    }
    private getMsgCode() {
        sendSMSCode({
            phone: Number(this.form.phoneNumber),
            j_captcha: this.form.imgCode,
            utoken: this.uuid
        }).then(rs => {
            this.canBeRetry = false
            this.cutTime()
            this.$toast(`验证码已发送,请留意您的手机短信`)
        })
    }
    private created() {
        this.createImgCode()
    }

    private cutTime() {
        let count = this.count
        this.timer = window.setInterval(() => {
            this.count--
            if (this.count === -1) {
                window.clearInterval(this.timer)
                this.canBeRetry = true
                this.count = count
            }
        }, 1000)
    }
    private submit() {
        this.loading = true
        document.body.classList.add("disabled")
        const active = this.form.active
        bindPhone({
            temporaryDtoId: this.$route.query.temporaryDtoId as string,
            phone: this.form.phoneNumber,
            type: active === 1 ? 2 : active === 2 ? 1 : 0,
            code: this.form.msgCode,
            utoken: this.uuid,
            jcaptcha: this.form.imgCode,
            studyNo: this.form.childNumber,
            studentName: this.form.childName
        }).then(rs => {
            this.$$store.commit('setUserInfo', rs)
            this.$router.replace("/")
        }).catch(() => {
            this.createImgCode()
            this.form.imgCode = this.form.msgCode = ""
        }).finally(() => {
            document.body.classList.remove("disabled")
            this.loading = false
        })
    }
}
</script>
