<template>
    <div>
        <van-divider :style="{ color: '#1989fa', borderColor: '#1989fa', padding: '0 16px' }">
            <div class="fs-16 fw-bold">{{ruleName}}</div>
        </van-divider>
        <van-cell>
            <div v-html="ruleContent"></div>
        </van-cell>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getSchoolRulesInfo } from "$apis";
@Component
export default class extends Vue {
    private ruleName: string = ""
    private ruleContent: string = ""
    created() {
        getSchoolRulesInfo({
            type: Number(this.$route.query.type)
        }).then(rs => {
            this.ruleName = rs.ruleName
            this.ruleContent = rs.ruleContent
        })
    }
}
</script>

