<template>
    <div class="scoreInquiry">
        <van-cell>
            <van-field class="bg-gray-2 van-goods-action-button--first" clearable v-model="name" placeholder="输入考试名称"></van-field>
            <template #right-icon>
                <!-- <van-button square class="bg-gray-3 fg-gray-6" icon="xiasanjiao" icon-prefix="icon" @click="show=true" /> -->
                <van-button square class="van-goods-action-button--last" type="cyan" @click="search">
                    查<span class="pd-xs-l"></span>询
                </van-button>
            </template>
        </van-cell>
        <my-list-view :fetch="fetch" ref="listView" class="pd-md">
            <router-link tag="div" :to="{path:'scoreInquiryInfo',query:{uuid:item.uuid,examName:item.name}}" class="text-center bg-white radius-sm mg-md-b" v-for="item in list" :key="item.id">
                <div class="fs-16 fw-bold bg-green-light pd-sm fg-green-dark">{{item.name}}</div>
                <div class="fg-gray fs-14 pd-sm">{{item.startTime}} 至 {{item.endTime}}</div>
            </router-link>
        </my-list-view>
    </div>
</template>
<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import { getExamList } from "$apis";
import { Picker } from "vant";

@Component
export default class extends Vue {
    private name: string = ""
    private pageNo: number = 0
    private list: model.res.getExamList["list"] = []

    private search(value: Date) {
        this.list = [];
        this.pageNo = 0;
        (this.$refs.listView as any).load(value)
    }
    private fetch() {
        this.pageNo++
        return getExamList({
            pageNumber: this.pageNo,
            pageSize: 999999,
            name: this.name,
        }).then(rs => {
            this.list = rs.list
            console.log(this.list);

            return rs
        })
    }
}
</script>

