<template>
    <div class="scoreInquiry">
        <van-cell>
            <van-field class="bg-gray-2 van-goods-action-button--first" clearable v-model="name" placeholder="输入姓名"></van-field>
            <template #right-icon>
                <van-button square class="van-goods-action-button--last" type="cyan" @click="search">
                    查<span class="pd-xs-l"></span>询
                </van-button>
            </template>
        </van-cell>
        <my-list-view :fetch="fetch" ref="listView" class="pd-md">
            <div class="text-center pd-md-y fw-bold">{{examName}}</div>
            <van-cell-group v-for="item in list" :key="item.id" class="mg-md-b">
                <van-cell :title="'姓名：'+item.realname" title-class="fw-bold fs-16"></van-cell>
                <van-cell>
                    <div v-for="(sub,index) in item.scores" :key="index">{{sub.courseName}}：{{sub.score}}分</div>
                </van-cell>
                <van-cell>
                    总分：{{item.scores | total}}分
                </van-cell>
            </van-cell-group>
        </my-list-view>
    </div>
</template>
<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import { getExamScoreListByTeacher } from "$apis";

@Component({
    filters: {
        total(value: any[]) {
            return value.reduce((sum, item) => sum + item.score, 0)
        }
    }
})
export default class extends Vue {
    private name: string = ""
    private pageNo: number = 0
    private list: model.res.GetExamScoreListByTeacher["list"] = []
    private examName: string = ""

    private search(value: Date) {
        this.list = [];
        this.pageNo = 0;
        (this.$refs.listView as any).load(value)
    }
    private fetch() {
        this.pageNo++
        return getExamScoreListByTeacher({
            pageNumber: this.pageNo,
            pageSize: 999999,
            realname: this.name,
            examinationUniq: this.$route.query.uuid as string
        }).then(rs => {
            this.list = rs.list
            return rs
        })
    }
    private created() {
        this.examName = this.$route.query.examName as string
    }
}
</script>

