<template>
    <div class="scoreInquiry">
        <van-cell center class="bg-cyan-light pd-md-y" :title="$store.state.userInfo.realName" title-class="fs-18 fw-bold mg-md-l fg-white">
            <template #icon>
                <van-image round width="60" height="60" fit="cover" :src="$store.state.userInfo.userImage"></van-image>
            </template>
            <template #default>
                <van-button round size="small" type="cyan-dark" icon="jilu" icon-prefix="icon" @click="show=true">{{date}}</van-button>
            </template>
        </van-cell>

        <my-list-view :fetch="fetch" ref="listview" class="pd-md">
            <van-cell-group v-for="item in list" :key="item.id" class="mg-md-b">
                <van-cell class="records fg-cyan-dark" :title="item.name" size="large" title-class="flex-none pd-md-x van-goods-action-button--last fw-bold fs-16 bg-yellow-light" icon="records"></van-cell>
                <van-cell>
                    <div v-for="(sub,index) in item.scores" :key="index">{{sub.courseName}}：{{sub.score}}分</div>
                </van-cell>
                <van-cell>
                    总分：{{item.scores | total}}分
                </van-cell>
            </van-cell-group>
        </my-list-view>

        <van-popup v-model="show" position="bottom" :lazy-render="false">
            <van-picker show-toolbar :columns="columns" @change="onChange" @confirm="ok" @cancel="show=false" />
        </van-popup>

    </div>
</template>
<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import dayjs from "dayjs";
import { getExamScoreList, abort } from "$apis";
import { Picker } from "vant";
const currentDate = new Date(), currentYear = currentDate.getFullYear(), years = 10
let months: Record<string, string[]> = {}
let getMonths = (months: number) => [...Array(months + 1).keys()].map(item => item === 0 ? "全年" : item.toString().padStart(2, "0"))
for (let i = currentYear - years; i <= currentYear; i++) {
    if (i === currentYear) {
        months[i.toString()] = getMonths(currentDate.getMonth() + 1)
        continue
    }
    months[i.toString()] = getMonths(12)
}
const keys = Object.keys(months)
@Component({
    filters: {
        total(value: any[]) {
            return value.reduce((sum, item) => sum + item.score, 0)
        }
    }
})
export default class extends Vue {
    private show: boolean = false
    private date: string = "选择日期"
    private month: string = ""
    private year: string = ""
    private pageNo: number = 0
    private list: model.GetExamScoreList["list"] = []
    private columns = [{ values: keys, defaultIndex: keys.length - 1 }, { values: months[currentYear.toString()] }]

    private onChange(picker: Picker, values: string[]) {
        picker.setColumnValues(1, months[values[0]]);
    }
    private ok(date: any) {
        this.year = date[0]
        this.date = date.join("-")
        this.month = date[1] === "全年" ? "" : date[1]
        this.show = false
        this.search()
    }
    private search() {
        // abort(getExamScoreList)
        this.list = [];
        this.pageNo = 0;
        (this.$refs.listview as any).load(this.year, this.month)
    }
    private fetch(year: string = "", month: string = "") {
        this.pageNo++
        return getExamScoreList({
            pageNumber: this.pageNo,
            pageSize: 999999,
            month: month,
            year: year
        }).then(rs => {
            this.list = rs.list
            return rs
        })
    }
}
</script>

