<template>
    <div class="teacherInfo">
        <van-image style="display:block" width="100vw" height="100vw" fit="cover" :src="info.headImageUrl" />
        <van-cell-group>
            <van-cell :title="info.realname"/>
            <van-cell>
                <template #title>
                    <div v-html="info.introduction"></div>
                </template>
            </van-cell>
        </van-cell-group>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getTeacherInfo } from "$apis";
@Component
export default class extends Vue {
    info: model.res.TeacherInfo = {} as any
    mounted() {
        getTeacherInfo().then(rs => {
            rs.introduction=rs.introduction||"暂无简介"
            this.info = rs
        })
    }
}
</script>
