<template>
    <div v-visible="visible" class="button-group button-group--col">
        <div ref="value" class="button-group--value" v-show="expaned">
            <slot></slot>
        </div>
        <van-button v-show="expaned" :size="size" class="fs-inherit" type="cyan" round :icon="closeIcon" @click="expaned=false"></van-button>
        <van-button v-show="!expaned" :size="size" class="fs-inherit" type="cyan" @click.stop="expaned=true" round :icon="expandIcon" ref="expand"></van-button>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import { Button } from 'vant';
import { debounce, throttle } from "helpful-decorators";
import { ComponentOptions } from 'vue';
const winw = window.innerWidth, winh = window.innerHeight
@Component({
    components: {
        [Button.name]: Button
    }
})
export default class ButtonGroup extends Vue {
    @Prop({ type: String, default: 'plus' }) readonly expandIcon!: string
    @Prop({ type: String, default: 'cross' }) readonly closeIcon!: string
    @Prop({ type: String, default: 'large' }) readonly size!: string
    private expaned: boolean = false
    private left: number = 0
    private top: number = 0
    private visible: boolean = false
    private el = {
        $el: null,
        w: 0,
        h: 0,
        l: 0,
        t: 0
    } as any
    @Watch('expaned')
    valuechanged(value: boolean) {
        if (value) {
            let flag = winh - this.el.t - this.el.h < winh / 2;
            (this.$refs.value as HTMLDivElement).style.cssText = `${flag ? 'bottom' : 'top'}:${this.el.h}px`
        }
    }
    @throttle(200)
    private touchmove(event: TouchEvent) {
        const touch = event.touches[0], x = touch.pageX, y = touch.pageY, w = this.el.w / 2, h = this.el.h / 2, el = this.$el as HTMLDivElement
        this.el.l = Math.min(winw - w * 2, Math.max(x - w, 0))
        el.style.left = this.el.l + 'px';
        this.el.t = Math.min(winh - h * 2, Math.max(y - h, 0))
        el.style.top = this.el.t + 'px';

    }
    private close() {
        this.expaned = false
    }
    private mounted() {
        this.el.$el = this.$refs.expand as HTMLButtonElement
        this.el.w = this.el.h = Math.max(this.el.$el.offsetWidth, this.el.$el.offsetHeight);
        (this.$el as HTMLElement).style.width = this.el.w + 'px';
        (this.$el as HTMLElement).style.height = this.el.h + 'px';
        let style = window.getComputedStyle(this.$el, null)
        this.el.l = winw - Number.parseInt(style.right) - this.el.w
        this.el.t = winh - Number.parseInt(style.bottom) - this.el.h;
        (this.$refs.expand as HTMLDivElement).addEventListener('touchmove', this.touchmove, { passive: false })
        document.addEventListener('click', this.close, { passive: false })
        setTimeout(() => {
            this.visible = true
        }, 1000);
    }
    private beforeDestroy() {
        (this.$refs.expand as HTMLDivElement).removeEventListener('touchmove', this.touchmove);
        document.removeEventListener('click', this.close)
    }
}
</script>
