<template>
    <van-list v-model="loading" :finished="finished" @load="load" :error.sync="error" loading-text="正在探索···" :finished-text="finishedText" error-text="请求失败，点击重新加载">
        <slot></slot>
        <template #error>
            <van-empty :image="require('$images/empty-network.png')" description="网络错误，点击重试" />
        </template>
        <van-empty v-if="empty" :image="require('$images/empty.png')" description="这里空空如也" />
    </van-list>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
@Component
export default class extends Vue {
    @Prop(Function) fetch!: (...args: any[]) => Promise<model.TableStruct>

    private finished: boolean = false
    private loading: boolean = false
    private error: boolean = false
    private empty: boolean = false
    private finishedText = ""
    private finishedTextCopy = "- - - - - - - 我是有底线的 - - - - - - -"

    private load(...args: any[]) {
        this.loading = true
        this.finished = this.error = this.empty = false
        this.finishedText = this.finishedTextCopy
        this.fetch(...args).then(rs => {
            this.finished = !rs.hasNextPage
            //如果第一页就返回了空数据。展示空数据界面
            if ((!rs.list || rs.list.length === 0) && rs.pageNum === 1) {
                this.empty = true
                this.finishedText = ""
            }
        }).catch((rs) => {
            this.error = true
        }).finally(() => {
            this.loading = false
        })
    }
}
</script>
